<%- include('parts/header', {page: 'books'}); %>
<%- include('parts/slide_bar'); %>
<style type="text/css">
 .edit:hover {
   cursor: pointer;
}
.animated:hover {
   cursor: pointer;
}
</style>
<div class="container">
<script type="text/javascript">



 $(document).ready(function(){

var table = $('#datatable-buttons').DataTable();

   $(".paid-users").click(function(){
    table.search('نعم').draw();
   })
   $(".all-users").click(function(){
     table.search('').draw();
   })
   $(".normal-users").click(function(){
     table.search('لا').draw();
   })

$('#datatable-buttons').on('click', '.edit', function () {
    var id = $(this).attr('id');
    var new_name = prompt('تريد تغيره الى ماذا ؟');
    var what = $(this).attr('what');
    if(new_name != null){
      $.get('/change-book',{
          id,
          new_name,
          what
        },function(data){
        })
    }
});

   $(".pay").click(function(){
     var months = prompt('ما عدد الاشهر التى تريد اضافتها ؟');
     var user_id = $(this).attr('user');
     $.get('/pay-per-month',{
       user_id,
       months
     },function(data){
       window.location = '/users';
     })
   });



   $("#admin").click(function(){
     var user_id = $(this).attr('user');
     $.get('/make-admin',{
       user_id
     },function(data){
       window.location = '/users';
     })
   })



     $("#pay2").click(function(){
     var months = prompt('ما عدد الاشهر التى تريد حذفها ؟');
     var user_id = $(this).attr('user');
     $.get('/pay-per-month',{
       user_id,
       months: -months
     },function(data){
       window.location = '/users';
     })
   });

  })

</script>
<!-- Table -->
<!-- page content -->


<div class="col-md-10 col-sm-9 col-xs-9">

         <div style="margin-top:20px;" class="">
           <div class="row top_tiles">
             <div class="animated flipInY all-users col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="tile-stats text-center">
                 <div class="icon"><i style="padding-top:20px;"  class="fa fa-book"></i></div>
                 <div class="count"> <%= users.length %></div>
                 <h3> عدد الكتب</h3>
                 <p>الكتب جميعا</p>
               </div>
             </div>




              <div class="x_panel">
                <div class="x_title text-center">
                  <h2>ابن الجوزي | <small>الكتب</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p class="text-muted font-13 m-b-30">

                  </p>
                  <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>الاسم</th>
                        <th>الوصف</th>
                        <th> السعر بالريال</th>
                        <th> السعر قبل الخصم</th>
                        <th>عدد الصفحات </th>
                        <th>غلاف الكتاب</th>
                        <th>العرض</th>
                        <th>الارتفاع</th>
                        <th>حذف</th>
                        <th>تعديل الصور</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% users.forEach(function(user){ %>
                        <tr>
                          <td><%= user['name']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="name"></i></td>
                          <td><%= user['descc'] %> <i id="<%= user['id']  %>"  what="descc" class="fa edit fa-pencil-square-o" aria-hidden="true"></i></td>
                          <td><%= user['price'] %> <i id="<%= user['id']  %>"  what="price" class="fa edit fa-pencil-square-o" aria-hidden="true"></i></td>
                          <td><%= user['fake_price'] %> <i id="<%= user['id']  %>"  what="fake_price" class="fa edit fa-pencil-square-o" aria-hidden="true"></i></td>
                          <td><%= user['pagesnum'] %> <i id="<%= user['id']  %>"  what="pagesnum" class="fa edit fa-pencil-square-o" aria-hidden="true"></i></td>
                          <td><%= user['binding'] %> <i id="<%= user['id']  %>"  what="binding" class="fa edit fa-pencil-square-o" aria-hidden="true"></i></td>
                          <td><%= user['width'] %> <i id="<%= user['id']  %>"  what="width" class="fa edit fa-pencil-square-o" aria-hidden="true"></i></td>
                          <td><%= user['height'] %> <i id="<%= user['id']  %>"  what="height" class="fa edit fa-pencil-square-o" aria-hidden="true"></i></td>
                          <td><a style="color:red" href="/delete-book?id=<%= user['id'] %>" onclick="return confirm('هل تريد حذف هذا الكتاب حقا !');">X</a></td>
                          <td><a href="/edit-book-images?id=<%= user['id'] %>"><i  class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                           </tr>
                     <% }); %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>


                  </div>




</div>





                  </div>






<%- include('parts/footer'); %>
