 <%- include('parts/header', {page: 'Users'}); %>
<%- include('parts/slide_bar'); %>
<style type="text/css">
  .edit:hover {
    cursor: pointer;
}
.animated:hover {
    cursor: pointer;
}
</style>
<div class="container">
<script type="text/javascript">



  $(document).ready(function(){

var table = $('#datatable-buttons').DataTable();

    $(".paid-users").click(function(){
     table.search('نعم').draw();
    })
    $(".all-users").click(function(){
      table.search('').draw();
    })
    $(".normal-users").click(function(){
      table.search('لا').draw();
    })

    $('#datatable-buttons').on('click', '.edit', function () {
        var id = $(this).attr('id');
        var new_name = prompt('تريد تغيره الى ماذا ؟');
        var what = $(this).attr('what');
        if(new_name != null){
          $.get('/edit-user',{
              id,
              value:new_name,
              what
            },function(data){
              // console.log(data);
              window.location = '/lawyers';
            })
        }
    });

    $(".pay").click(function(){
      var months = prompt('ما عدد الاشهر التى تريد اضافتها ؟');
      var user_id = $(this).attr('user');
      $.get('/pay-per-month',{
        user_id,
        months
      },function(data){
        window.location = '/users';
      })
    });



    $("#admin").click(function(){
      var user_id = $(this).attr('user');
      $.get('/make-admin',{
        user_id
      },function(data){
        window.location = '/users';
      })
    })

    $(".select").change(function (){
        var value = $(this).find("option:checked").val();
        var id = $(this).attr('id');
        var what = $(this).attr('what');
        $.get('/edit-user',{
            id,
            value,
            what
          },function(data){
            window.location = '/lawyers';
          })
    });


      $("#pay2").click(function(){
      var months = prompt('ما عدد الاشهر التى تريد حذفها ؟');
      var user_id = $(this).attr('user');
      $.get('/pay-per-month',{
        user_id,
        months: -months
      },function(data){
        window.location = '/users';
      })
    });

   })

</script>
<!-- Table -->
<!-- page content -->


<div class="col-md-10 col-sm-9 col-xs-9">

          <div style="margin-top:20px;" class="">
            <div class="row top_tiles">
              <div class="animated flipInY all-users col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats text-center">
                  <div class="icon"><i style="padding-top:20px;"  class="fa fa-user"></i></div>
                  <div class="count"> <%= data.length %></div>
                  <h3>عدد المستخدمين</h3>
                  <p>المستخدمين جميعا</p>
                </div>
              </div>




               <div class="x_panel">
                 <div class="x_title text-center">
                   <h2>محامي | <small>المستخدمين</small></h2>
                   <ul class="nav navbar-right panel_toolbox">
                     <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                     </li>
                     <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                       <ul class="dropdown-menu" role="menu">
                         <li><a href="#"><%= services2[0].value %></a>
                         </li>
                         <li><a href="#">Settings 2</a>
                         </li>
                       </ul>
                     </li>
                     <li><a class="close-link"><i class="fa fa-close"></i></a>
                     </li>
                   </ul>
                   <div class="clearfix"></div>
                 </div>
                 <div class="x_content">
                   <p class="text-muted font-13 m-b-30">

                   </p>
                   <table id="datatable-buttons" class="table table-striped table-bordered">
                     <thead>
                       <tr>
                         <th>الاسم</th>
                         <th>البريد الالكترونى </th>
                         <th>الجنس</th>
                         <th>النوع</th>
                         <th>عدد سنوات الخبره</th>
                         <th>الخدمه القانونيه</th>
                         <th>الحاله</th>
                         <th>رقم الهاتف</th>
                         <th>رقم الجوال</th>
                         <th>النبذه الشخصيه</th>
                         <th>حساب فيسبوك</th>
                         <th>حساب تويتر</th>
                         <th>حساب انستجرام</th>
                         <th>حساب تويتر</th>
                         <th>موقع الويب</th>
                         <th>الصوره</th>
                         <th>تعديل الصوره</th>
                         <th>حذف</th>

                       </tr>
                     </thead>


                     <tbody>
                       <script>
                       $(document).ready(function(){
                         $("select").change(function (){
                             var value = $(this).find("option:checked").val();
                             var id = $(this).attr('id');
                             var what = $(this).attr('what');
                             $.get('/edit-user',{
                                 id,
                                 value,
                                 what
                               },function(data){
                                 window.location = '/lawyers';
                                 console.log(data)
                               })
                         });
                       })
                       </script>
                       <% data.forEach(function(user){ %>

                         <tr>
                           <td><%= user['name']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="name"></i></td>
                           <td><%= user['email']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="email"></i></td>
                           <td> <select class="form-control col-lg-12" id="<%= user['id'] %>" what="sex" class="select">
                                        <% if(user['sex'] == 1) {%>
                                    <option value="1" selected>انثي</option>
                                     <option value="2">ذكر</option>
                                        <% } else {%>
                                    <option value="2" selected>ذكر</option>
                                    <option value="1" >انثي</option>

                                     <% } %>
                            </select>
                          </td>
                           <td>
                             <select class="form-control col-lg-12" id="<%= user['id'] %>" what = "type" class="select">
                               <%  types2.forEach(function(type) {
                                         if(type['id'] == user['type']) {%>
                                     <option value="<%= type['id'] %>" selected><%= type['value'] %></option>
                                         <% } else {%>
                                     <option value="<%= type['id'] %>"><%= type['value'] %></option>
                               <% }}) %>
                             </select>
                           </td>
                           <td>

                             <select class="form-control col-lg-12" id="<%= user['id'] %>" what="years" class="select">

                               <%  years2.forEach(function(year) {
                                         if(year['id'] == user['years']) {%>
                                     <option value="<%= year['id'] %>" selected><%= year['value'] %></option>
                                         <% } else {%>
                                     <option value="<%= year['id'] %>"><%= year['value'] %></option>
                               <% }}) %>
                             </select>
                           </td>
                           <td>
                             <select class="form-control col-lg-12" id="<%= user['id'] %>" what="service" class="select">
                               <%  services2.forEach(function(service) {
                                         if(service['id'] == user['service']) {%>
                                     <option value="<%= service['id'] %>" selected><%= service['value'] %></option>
                                         <% } else {%>
                                     <option value="<%= service['id'] %>"><%= service['value'] %></option>
                               <% }}) %>
                             </select>
                           </td>
                           <td>
                             <select class="form-control col-lg-12" id="<%= user['id'] %>" what="status" class="select">
                                         <% if(user['status'] == 1) {%>
                                      <option value="1" selected>نشط</option>
                                      <option value="2">قيد القبول</option>
                                         <% } else {%>
                                     <option value="2" selected>قيد القبول</option>
                                     <option value="1" >نشط</option>

                                      <% } %>
                             </select>
                           </td>
                           <td><%= user['line']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="line"></i></td>
                           <td><%= user['phone']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="phone"></i></td>
                           <td><%= user['bio']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="bio"></i></td>
                           <td><%= user['facebook']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="facebook"></i></td>
                           <td><%= user['insta']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="insta"></i></td>
                           <td><%= user['twitter']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="twitter"></i></td>
                           <td><%= user['web']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="web"></i></td>
                           <td><%= user['email']  %> <i id="<%= user['id']  %>" class="fa edit fa-pencil-square-o" aria-hidden="true" what="email"></i></td>
                           <td><img width="100" height="100" src="<%= user['image']  %>"/></td>
                           <td><form action="lawyer-image" method="post" enctype="multipart/form-data">
                             <input type="file" name="image" />
                             <input type="hidden" value="<%= user['id']  %>" name="id"/>
                             <input type="submit" value="edit"/>
                           </form></td>



                           <td><a style="color:red" href="/delete-user?id=<%= user['id'] %>" onclick="return confirm('هل حقا تريد حذف هذا المستخدم ؟!');">X</a></td>




                            </tr>
                      <% }); %>

                     </tbody>
                   </table>
                 </div>
               </div>
             </div>


                   </div>




</div>






<%- include('parts/footer'); %>
